<!--The content below is only a placeholder and can be replaced.-->

<h1 class="title">Status</h1>

<div class="status-report"[class.online]="this.statusReportOnline">
  <span class="report">{{this.statusReport}}</span>
</div>
<div class="list">

  <div class="page" *ngFor="let p of this.pages; let i = index" [class.focused]="this.focused == p.id" (click)="this.focused = this.focused == p.id ? -1 : p.id" [class.beforeFocused]="this.focused == p.id + 1">
    <div class="preview">
        <div class="status" [class.online]="p.status.online"></div>
        <span class="name">{{p.name}}</span>
        <span class="onlineSince">Online since {{p.status.onlineSince | date}}</span>
    </div>

    <div class="details" #timelineRef>
      <svg class="timeline">
          <rect *ngFor="let t of this.timeline; let i = index" height="20" width="4" [attr.x]="i + (i*(4+2))" y="0" [attr.fill]="t.fill" class="uptime-day component-jgdpdmjfpmkg day-0" data-html="true"></rect>
      </svg>
      <div class="incident" *ngFor="let i of p.status.incidents">
        <span>{{ getIncidentEventName(i.event) }}</span>
        <span *ngIf="i.end">for {{(i.end - i.start) | amDuration : "milliseconds" }}</span>
        <span *ngIf="!i.end">since {{i.start | amTimeAgo : true}}</span>
        <span>Reason: {{i.reason.type}}</span>
        <span>Error: {{i.reason.error}}</span>
      </div>
    </div>

  </div>
</div>