.title {
  margin-top: 100px;
  margin-bottom: 40px;
}
.status-report {
  display: flex;
  width: calc(100% - 40px);
  height: 60px;
  padding: 0 20px;
  margin: 20px 0;
  align-items: center;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 700;
  background-color: #c03333;
  border: 2px solid #9e2525;
}
.status-report.online {
  background-color: #4caf50;
  border: 2px solid #4c994e;
}
.list {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.page {
  display: block;
  width: 100%;
  height: 70px;
  border: 1px solid #cfcfcf;
  border-bottom-color: #ffffff;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  font-size: 14px;
  transition: all 200ms;
  user-select: none;
}
.page:first-child {
  border-radius: 4px 4px 0 0;
}
.page:last-child,
.page.beforeFocused {
  border-bottom: 1px solid #cfcfcf;
  border-radius: 0 0 4px 4px;
}
.page .status {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  margin-right: 30px;
  background-color: #c03333;
}
.page .status.online {
  background-color: #4caf50;
}
.page.focused {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.027), 0 1px 2px rgba(0, 0, 0, 0.137);
  margin: 20px 0;
  height: auto;
}
.page .onlineSince {
  position: absolute;
  right: 20px;
  opacity: 0.3;
}
.page .preview {
  display: flex;
  width: 100%;
  height: 70px;
  align-content: center;
  align-items: center;
}
.page .details .timeline {
  width: 100%;
  height: 20px;
  float: right;
  margin-bottom: 20px;
}
.page .details .incident {
  width: 100%;
  padding: 10px 5px;
  color: #424242;
}
.page .details .incident span {
  display: inline-block;
  padding: 0 4px;
}
